<launch>

    <arg name="project" default="kloam"/>
    <param name="use_sim_time" value="true" /> 
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find kloam)/launch/include/rosconsole/rosconsole_info.conf"/>
    
    <!-- Parameters -->
    <rosparam file="$(find kloam)/config/params_sw_loc.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find kloam)/launch/include/module_loam.launch" />
    
    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find kloam)/launch/include/rviz/rviz.rviz" />

    <!-- <include file="$(find velodyne_pointcloud)/launch/VLP-32C_points.launch"/> -->

    <!-- map is the map of base_link, which is the center axis of two wheels -->
    <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 /map /odom 100" />
    
</launch>
